#subscribeForm {
}
#subscribeForm fieldset{
	width: 200px;
	margin:10px 0;
	border:1px solid #CCC;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background-color:#005964;
}
#subscribeForm textarea{
}
#subscribeForm input[type=text]{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color:#007784;
	border: 1px solid #00454D;
	color:#FFF;
	width: 170px;
}
#subscribeForm input[type=submit]{
	cursor:pointer;
	text-transform:uppercase;
	font-weight:bold;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:3px 6px;
	margin-bottom:5px;
	background-color:#007784;
	border: 1px solid #00454D;
	color:#fff;
}
#subscribeForm input[type=submit]:hover{
	color:#fff;
	border: 1px solid #F58221;
	background-color:#005964;
}
#subscribeForm{
	color:#fff;
}
#subscribeForm p,  #subscribeForm h1, #subscribeForm h2, #subscribeForm h3,  #subscribeForm h4,  #subscribeForm h5{
	color:#fff;
}
#subscribeForm p {
	padding:0;
	margin: 0 10px 10px 10px;
}
#subscribeForm h3 {
	padding:0;
	margin: 10px 0 0 10px;
	font-size: 12px;
}
#subscribeForm fieldset img {
	margin-left: 10px;
}
#subscribeForm a {
	color: #F58221;
}
/*setting placeholder color for each browser*/
#subscribeForm input[type=text]::-webkit-input-placeholder { /* WebKit browsers */
    color:    #00D;
}
#subscribeForm input[type=text]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #00D;
   opacity:  1;
}
#subscribeForm input[type=text]::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #00D;
   opacity:  1;
}
#subscribeForm input[type=text]:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #00D;
}
#subscribeForm input[type=text].placeholdersjs{	/*For any unsupported browser*/
	color:	#00D;
}
