#subscribeForm{
	background-color:#C7D3F5;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:1px 1px 1px 1px #C8C8C8;
	font:normal normal normal 0.9em/18px Arial, Helvetica, sans-serif;
}
#subscribeForm label{
	color:#5757C1;
}
#subscribeForm textarea{
	width:90%;
	color:#5757C1;
	font-family:Arial, Helvetica, sans-serif;
}
#subscribeForm input[type=text]{
	color:#5757C1;
}
#subscribeForm input[type=submit]{
	border:1px solid #FFF;
	color:#FFFFFF;
	background-color:#E06CD6;
	cursor:pointer;
	text-transform:uppercase;
	font-weight:bold;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
#subscribeForm input[type=submit]:hover{
	color:#E06CD6;
	background-color:#FFFFFF;
}
#subscribeForm .widget-title{
	font-family:Arial, Helvetica, sans-serif;
	color:#E06CD6;
}