#subscribeForm{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:1px 1px 1px 1px #C8C8C8;
	border:1px solid;
}
#subscribeForm form{
	margin:5px;
	border:none;
	padding:0;
}
#subscribeForm fieldset{
	border:none;
}
#subscribeForm textarea{
}
#subscribeForm input[type=text]{
	padding:0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
#subscribeForm input[type=submit]{
	border:2px solid #666;
	color:#fff;
	background-color:#666;
	cursor:pointer;
	text-transform:uppercase;
	font-weight:bold;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
#subscribeForm input[type=submit]:hover{
	color:#fff;
	background-color:#333;
}
