#subscribeForm {
}
#subscribeForm fieldset{
	margin:10px 0;
	padding:10px;
	border:1px solid #DDD;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background-color:#000000;
}
#subscribeForm textarea{
}
#subscribeForm input[type=text]{
	padding:0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
#subscribeForm input[type=submit]{
	border:2px solid #fff;
	color:#fff;
	background-color:#000;
	cursor:pointer;
	text-transform:uppercase;
	font-weight:bold;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin-bottom:10px;
}
#subscribeForm input[type=submit]:hover{
	color:#fff;
	background-color:#333;
}
#subscribeForm{
	color:#fff;
}
#subscribeForm p,  #subscribeForm h1, #subscribeForm h2, #subscribeForm h3,  #subscribeForm h4,  #subscribeForm h5{
	color:#fff;
}